<section *ngIf="isLoad" class="mycarousel w-100 d-flex justify-content-center">
  <carousel [isAnimated]="true" class="d-flex w-100 overflow-hidden">
    <slide>
      <img src="../../../assets/images/promotions/banner psd smartwatch.png" alt="first slide" style="display: block; width: 100vw; object-fit: contain; aspect-ratio: 16/9;  cursor: pointer;" (click)="goToLink($event)" data-js="smartwatch">
    </slide>
    <slide>
      <img src="../../../assets/images/promotions/banner psd garrafa.png" alt="second slide" style="display: block; width: 100vw;object-fit: contain; aspect-ratio: 16/9; cursor: pointer;" (click)="goToLink($event)" data-js="garrafa_dagua">
    </slide>
    <slide>
      <img src="../../../assets/images/promotions/banner psd variedades.png" alt="third slide" style="display: block; width: 100vw; object-fit: contain; aspect-ratio: 16/9; cursor: pointer;" (click)="goToLinkCategorie($event)" data-js="variety">
    </slide>
  </carousel>
</section>

<section *ngIf="isLoad" class="products d-flex flex-column gap-4 container position-relative" id="products">
  <div class="product-container container" id="acessories">
    <div class="product-head d-flex flex-wrap gap-3 mb-3 align-items-center justify-content-center justify-content-lg-start">
      <h2 class="text-center text-lg-start">Acessórios</h2>
      <a class=" text-center text-lg-start text-decoration-none" (click)="goToLinkCategorie($event)" data-js="acessories">ver todos</a>
    </div>
    <ul class="eletronics product-list justify-content-center justify-content-lg-start list-unstyled" >
      <li *ngFor="let item of acessoriesItems.slice(0, 5)">
        <app-product-card [theCard]="item"></app-product-card>
      </li>
    </ul>
  </div>
  <div class="product-container container" id="eletronics">
    <div class="product-head d-flex flex-wrap gap-3 mb-3 align-items-center justify-content-center justify-content-lg-start">
      <h2 class="text-center text-lg-start">Eletrônicos</h2>
      <a class=" text-center text-lg-start text-decoration-none" (click)="goToLinkCategorie($event)" data-js="eletronics">ver todos</a>
    </div>
    <ul class="eletronics product-list justify-content-center justify-content-lg-start list-unstyled" >
      <li *ngFor="let item of eletronicItems.slice(0, 5)">
        <app-product-card [theCard]="item"></app-product-card>
      </li>
    </ul>
</div>
  <div class="product-container container" id="variety">
    <div class="product-head d-flex flex-wrap gap-3 mb-3 align-items-center justify-content-center justify-content-lg-start">
      <h2 class="text-center text-lg-start">Variedades</h2>
      <a class="text-center text-lg-start text-decoration-none" (click)="goToLinkCategorie($event)" data-js="variety">ver todos</a>
    </div>
    <ul class="eletronics product-list justify-content-center justify-content-lg-start list-unstyled" >
      <li *ngFor="let item of varietyItems.slice(0, 5)">
        <app-product-card [theCard]="item"></app-product-card>
      </li>

    </ul>
  </div>
  <div class="product-container container" id="variety">
    <div class="product-head d-flex flex-wrap gap-3 mb-3 align-items-center justify-content-center justify-content-lg-start">
      <h2 class="text-center text-lg-start">Bolsas</h2>
      <a class=" text-center text-lg-start text-decoration-none" (click)="goToLinkCategorie($event)" data-js="bags">ver todos</a>
    </div>
    <ul class="eletronics product-list justify-content-center justify-content-lg-start list-unstyled" >
      <li *ngFor="let item of bagItems.slice(0, 5)">
        <app-product-card [theCard]="item"></app-product-card>
      </li>

    </ul>
  </div>
</section>

<app-loading [hidden]="isLoad"></app-loading>
