.mycarousel {
  padding-top: 70px;
}
.product-container h2 {
  padding: 1rem  0 !important;
  width: 100%;
}

.product-container a {
  cursor: pointer;
  font-size: .8rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

slide img {
  height: 20vh !important;
}

@media(min-width: 420px) {
  .mycarousel {
    padding: 4rem 0;
  }
}


@media(min-width: 765px) {
  .mycarousel {
    padding: 0;
  }
  slide img {
    height: 40vh !important;
  }
  .product-container h2 {
    padding: 3rem  0 !important;
    width: fit-content;
  }
}

@media(min-width: 1024px) {
  .mycarousel {
    padding: 80px 0;
  }
}



