<section *ngIf="isLoad" class="products d-flex flex-column gap-4 container position-relative" id="products">
  <div class="product-container container" id="acessories">
    <h2 class="text-center text-lg-start">Acessorios</h2>
    <ul class="eletronics product-list justify-content-center justify-content-lg-start list-unstyled" >
      <li *ngFor="let item of acessoriesItems">
        <app-product-card [theCard]="item"></app-product-card>
      </li>
    </ul>
  </div>
  <div class="product-container container" id="eletronics">
    <h2 class="text-center text-lg-start">Eletronicos</h2>
    <ul class="eletronics product-list justify-content-center justify-content-lg-start list-unstyled" >
      <li *ngFor="let item of eletronicItems">
        <app-product-card [theCard]="item"></app-product-card>
      </li>

    </ul>
</div>
  <div class="product-container container" id="variety">
    <h2 class="text-center text-lg-start">Variados</h2>
    <ul class="eletronics product-list justify-content-center justify-content-lg-start list-unstyled" >
      <li *ngFor="let item of varietyItems">
        <app-product-card [theCard]="item"></app-product-card>
      </li>

    </ul>
  </div>
</section>

<div *ngIf="!isLoad" class="loading"><span>.</span><span>.</span><span>.</span></div>
