
.product-container h2 {
  padding: 1rem  0 !important;
  width: 100%;
}

.product-container .product-head > a{
  cursor: pointer;
  font-size: .8rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


@media(min-width: 765px) {

  .product-container h2 {
    padding: 3rem  0 !important;
    width: fit-content;
  }
  .product-container .product-head > a{
    font-size: 1rem;
  }
}




