.mycarousel {
  padding: 4rem 0;
}
.product-container h2 {
  padding: 3rem  0 !important;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

slide img {
  height: 20vh !important;
}

@media(min-width: 765px) {
  .mycarousel {
    padding: 5.8rem 0;
  }
  slide img {
    height: 40vh !important;
  }
}




