<div class="container pt-5" [hidden]="!isLoad">
  <div class="prod">
    <h3>
      <a>
        {{ product.product | product }}
      </a>
    </h3>
    <div class="row w-100">
      <div class="col-6">
        <img [src]="source" alt="{{product.product}}">
      </div>
      <div class="col-6 d-flex flex-column gap-3">
        <span>{{ product.product | product}}</span>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</div>

<app-loading [hidden]="isLoad"></app-loading>
