.container {
  height: auto;
  width: auto;
  display: grid;
  place-items: center;

  padding: 8rem .7rem;
  overflow: hidden;
}

.body-title {
  display: none;
}
.header-title {
  padding: 1rem 0;
  text-align: center;
}

.container .prod {
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  width: 100%;
}

.container .prod div :not(.product) {
  max-width: 350px;
  overflow: hidden;
}

.container .description{
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 300;
}

.container img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.text-success {
  font-size: 10px !important;
}

.prod span {
  font-size: 36px;
}

h1 {
  font-size: 22px;
}

@media(min-width: 765px) {
  .prod {
    padding: 3rem;
    min-width: 270px;
    border-radius: 1rem !important;
  }
  .body-title {
    display: block;
  }
  .header-title {
    display: none;
  }
}
