<div class="container py-2">
  <h5>Carrinho</h5>
</div>

<div class="cartlist container d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-start gap-3">
  <div class="body h-50">
    <ul class="w-100 cart-products list-unstyled d-flex flex-wrap gap-3 justify-content-center justify-content-sm-start align-items-center">
      <li *ngFor="let item of cartList">
        <app-cart-item-card [item]="item"></app-cart-item-card>
      </li>

    </ul>
  </div>
  <ul class="cart-footer d-flex flex-column align-items-center list-unstyled gap-1 mb-1 p-3">
      <div class="row">
        <span>Seu Endereço:</span>
        <div class="d-flex justify-content-between px-3 pt-3 col-12">
          <input type="text" name="rua" class="form-control" [(ngModel)]="addres.rua"  placeholder="Rua/Avenida">
        </div>
        <div class="d-flex justify-content-between px-3 pt-3 col-4">
          <input type="text" name="numero" class="form-control" [(ngModel)]="addres.numero"  placeholder="N°">
        </div>
        <div class="d-flex justify-content-between px-3 pt-3 col-8">
          <input type="text" name="bairro" class="form-control" [(ngModel)]="addres.bairro"  placeholder="Bairro">
        </div>
        <div class="d-flex justify-content-between px-3 pt-3 col-12">
          <input type="text" name="complemento" class="form-control" [(ngModel)]="addres.comp"  placeholder="Complemento">
        </div>
      </div>
      <li class="d-flex justify-content-between w-100 px-3 pt-3">
        <p class="m-0">Total:</p> <b class="total-value">{{ totalPrice | currency: 'BRL' }}</b>
      </li>
      <li class="d-flex justify-content-between w-100 px-3">
        <p>entrega:</p> <b class="text-success text-end">gratuita para recanto verde</b>
      </li>
      <li class="d-flex justify-content-center w-100 px-3">
        <button class="btn color-bg-terciary w-75" (click)="sendRequest()">Continuar a compra</button>
      </li>
  </ul>
</div>
