footer {
  margin-bottom: 0;
  padding-bottom: 0;

  color: #fff;

  font-size: .7rem;
  padding: 2rem 10px;
  position: relative;
  bottom: 0;
}

footer a {
  color: #fff;
}

@media(min-width: 765px) {
  footer {
    font-size: 1rem;
  }
}
