<footer *ngIf="isLoad" class="w-100 color-bg">
  <div class="container d-flex flex-column flex-lg-row justify-content-between">
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-phone px-1"></i>
        <p class="m-0">(+55) 79 9 9999-6666</p>
      </div>
      <address class="d-flex flex-column">
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-location-dot px-1"></i>
          <p class="m-0">Estancia - SE </p>
        </div>
        <p>
          49200-000 <br>
          Cidade nova, Recanto verde, Rua D 138
        </p>
      </address>
    </div>

    <ul class="list-unstyled d-flex align-items-start align-items-lg-end flex-column px-1 px-lg-0">
      <li>
        <span>Organização: <b>Valdomira Sales</b></span>
      </li>
      <li>
        <span>Desenvolvido por: <a href="#" target="_blank">Vanderson Erlan</a></span>
      </li>
    </ul>
  </div>
</footer>
