<nav [class.navbar-open]="isMenuOpen" class="navbar d-flex flex-column w-100 top-0 z-3  flex-md-row justify-content-center px-lg-3 color-bg-primary gap-3 ">
  <div class="d-flex justify-content-center align-items-center">
      <i (click)="toggleMenu()" class="fa-solid fa-bars"></i>
      <div class="logo d-flex align-items-center justify-content-center justify-content-md-start" style="margin-right: 40px;" routerLink="/">
        <img src="../../../assets/images/logo (2).png" alt="logo val magazine" style="width: 3rem;">
        <h1 class="color-secondary" style="cursor: pointer; font-size: 1.5rem; margin-bottom: 0 !important; font-weight: 700;">Val Magazine</h1>
      </div>
  </div>
  <ul [class.hidden]="!isMenuOpen"  #menuList class="navbar-nav flex-column flex-lg-row flex-column-reverse gap-1 align-items-center gap-md-5 w-75 justify-content-center">

      <li class="nav-item w-100 d-flex justify-content-center">
        <div class="input-group w-100">
            <input class="form-control" type="text" placeholder="Buscar produtos..." #search>
            <button class="btn color-bg-terciary" (click)="sendFilter(search)">
              <i class="fa-solid fa-magnifying-glass" style="font-size: 1rem; color: #fff;"></i></button>
        </div>
      </li>
      <li class="nav-item" *ngIf="isOnRoute">
        <div class="my-dropdown nav-link" data-js="closed" (mouseover)="showDropdown(dropdown)" (mouseout)="closeDropdown(dropdown, content)" #dropdown>
          <button class="dropbtn">Categorias</button>
          <div class="my-dropdown-content" (mouseover)="activeHover(content)" (mouseout)="deactiveHover(content, dropdown)" #content data-js="nohovered">
            <a
            (click)="scrollToId('acessories')">Acessórios</a>
            <a (click)="scrollToId('eletronics')">Eletronicos</a>
            <a (click)="scrollToId('variety')">Variedades</a>
            <a (click)="scrollToId('bags')">Bolsas</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active-link" (click)="emitEvent()">Produtos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="scrollToId('footer')" style="cursor: pointer;">Contato</a>
      </li>
      <li class="nav-item pt-3 pt-lg-0">
          <a class="nav-link position-relative" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
              <i class="fa-solid fa-cart-shopping"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill color-bg-terciary">
                  {{ lengthCart }}
              </span>
          </a>
      </li>

  </ul>
</nav>

<div class="scroller w-100 color-bg-primary">
  <ul class="tag-list scroller_inner px-2 justify-content-start justify-content-md-center">
    <li class="list-item" *ngFor="let type of typeList" style="cursor: pointer;" [attr.data-js]="type" (click)="goToLinkCategory($event)">{{ type | translate }}</li>
  </ul>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Carrinho</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body h-50">
    <ul class="w-100 cart-products list-unstyled d-flex flex-column gap-5 justify-content-center align-items-center">
      <li *ngFor="let item of cartList">
        <app-cart-item-card [item]="item"></app-cart-item-card>
      </li>

    </ul>
  </div>
  <ul class="cart-footer d-flex flex-column align-items-center h-25 list-unstyled w-100 gap-1 mb-0">
      <li class="d-flex justify-content-between w-100 px-3 pt-3">
        <p class="m-0">Total:</p> <b class="total-value">{{ totalPrice | currency: 'BRL' }}</b>
      </li>
      <li class="d-flex justify-content-between w-100 px-3">
        <p>entrega:</p> <b class="text-success">gratuita para recanto verde</b>
      </li>
      <li class="d-flex justify-content-center w-100 px-3">
        <button class="btn color-bg-terciary w-75" (click)="sendRequest()">Continuar a compra</button>
      </li>
  </ul>
</div>
