<nav [class.navbar-open]="isMenuOpen" class="navbar d-flex flex-column w-100 top-0 z-3 position-fixed flex-md-row justify-content-between p-3">
  <div>
      <i (click)="toggleMenu()" class="fa-solid fa-bars"></i>
      <h1>MERCH</h1>
  </div>
  <ul [class.hidden]="!isMenuOpen"  #menuList class="navbar-nav d-md-flex flex-column flex-md-row gap-1 align-items-center gap-md-5">
      <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
          <a class="nav-link position-relative" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
              <i class="fa-solid fa-cart-shopping"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{ lengthCart }}
              </span>
          </a>
      </li>
      <li class="nav-item">
          <div class="input-group">
              <input class="form-control" type="text">
              <button class="btn btn-primary">Search</button>
          </div>
      </li>
  </ul>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body h-50">
    <ul class="w-100 cart-products list-unstyled d-flex flex-column gap-5 justify-content-center align-items-center">
      <li *ngFor="let item of cartList">
        <app-cart-item-card [item]="item"></app-cart-item-card>
      </li>

    </ul>
  </div>
  <div class="d-flex justify-content-evenly align-items-center h-25">
      <p>Total: <b class="total-value">{{ totalPrice | currency: 'BRL' }}</b></p>
      <button class="btn btn-primary">Pagar</button>
  </div>
</div>
