.navbar {
  backdrop-filter: blur(6px);
  background-color: #061a99e6;
  color: #fff;
  transition: all 800ms ease;

  font-size: .7rem;
}
.navbar-open {
  position: fixed;
  top: 0;
  box-shadow: 0 1px 3px 1px rgb(182, 182, 182);
}

.navbar div > .fa-solid {
  font-size: 35px;
  position: absolute;
  right: 1rem;
}

.hidden {
  display: none;
}

.fa-solid {
  font-size: 25px;
}

.nav-link{
  color: #fff !important;
}

.offcanvas-body {
  background-color: #f6f6f6 !important;
}

.cart-footer {
  -webkit-box-shadow: 0px -2px 12px -1px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px -2px 12px -1px rgba(0,0,0,0.29);
  box-shadow: 0px -2px 12px -1px rgba(0,0,0,0.29);
}

.cart-footer li {
  font-size: .8rem;
}

.color-bg-terciary:hover {
  background-color: #e4862e !important;
  color: #000000 !important;
}

.logo {

  & h1 {
    filter: drop-shadow(0 1px 1px black);
  }
}



@media (min-width: 768px) {
  .navbar {
      background-color: rgb(248,249,250);
      box-shadow: 0 1px 3px 1px rgb(182, 182, 182);
  }

  .carousel {
      width: 30% !important;
  }

  .logo {
    & img {
      filter: drop-shadow(0 1px 1px white);
    }
  }
}

@media(min-width: 1000px) {
  .navbar {
    font-size: 1rem;
  }
  .navbar div > .fa-solid {
    display: none;
  }
  .navbar ul {
  display: flex;
  }

  .logo {
    max-width: 300px;
    margin: 0 !important;
    & img {
      width: 3.5rem !important;
    }
  }
}

.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
}

.my-dropdown {
  position: relative;
  display: inline-block;
}

.my-dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  right: 0;
  top: 30px;
}

.my-dropdown-content a {
  cursor: pointer;

  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  display: block;

  transition: color 300ms ease;
}

.my-dropdown[data-js=opened] .my-dropdown-content, .my-dropdown-content:hover .my-dropdown-content {display: block;}


.my-dropdown-content a:hover {background-color: #e4862e;}


.my-dropdown-content::before {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 7px;
  border-left-width: 7px;
  border-bottom: 7px solid #333;
  top: -7px;
  left: 76px;
  position: absolute;
  display: block;
}
