.cart-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 250px;
  height: 200px;
  padding: .7rem;

  border-radius: 1rem;

  border: 1px solid rgba(0,0,0,.12);
}

.product img {
  aspect-ratio: 1/ 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}


.product:last-child {
  align-items: end;
  padding-bottom: 10px;
}


