<li class="product card-style">
  <div class="d-flex gap-2 w-100 justify-content-between flex-column">
    <img [src]="source" class="w-25">
    <b>{{ item.product | product}}</b>
    <div class="d-flex gap-3">
        <span>Preço:</span>
        <span>{{item.price | currency: 'BRL'}}</span>
    </div>
  </div>
  <div class="d-flex w-100 justify-content-between align-items-center justify-content-md-start gap-2">
    <a (click)="goToLink()" style="cursor: pointer;">Ver mais {{ item.type | translate }}</a>
    <button class="btn btn-danger" [attr.data-id]="dataId" (click)="deleteItem($event)">Remover</button>
  </div>
</li>
