.cart-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;

  border-bottom: 1px solid #bebebe;
}

.product img {
  aspect-ratio: 1/ 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.product:last-child {
  align-items: end;
  padding-bottom: 10px;
}
