section {
  padding: 10rem 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

span {
  color: #06125b;
}

select option:not(span) {
  font-family: 'Poppins', 'FontAwesome', 'sans-serif'
}
