/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,400&display=swap');



body {
  background-color: #f6f6f6 !important;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}


.color-primary {
  color: #FFF05A !important;
}



.color-secondary {
  color: #FFD25A !important;
}
.color-bg-secondary {
  background-color: #FFD25A !important;
}

.color-terciary {
  color: #ff912a !important;
}
.color-bg-terciary {
  background-color: #ff912a !important;
}

.color-bg-load {
  background-color: #FFAA5A !important;
}
.color-bg {
  background-color: #06125b !important;
}

.card-style {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
}


@media (min-width: 768px) {
  .color-bg-primary {
    background-color: #06125b !important;
  }
}
